{{ partial "catfix" $ }}
In {{ range $key, $value := .Param "categories" }}<span class='category-link'><a href="/categories/{{ urlize $value }}" >{{ default (title $value) (index ($.Scratch.Get "catfix") (title $value)) }}</a></span>{{ end }}
