{{ $page := .page }}
{{ $site := .site }}
{{ $global := .global }}
{{ $hideChildren := .hideChildren }}

{{ range .thismenu }}
    {{ $is := eq $page.Title "Documentation"}}
    
    {{ if $is }} 
        {{ if and (.HasChildren) ( not $hideChildren ) }}
            <div class="row">
                <div class="col-md-7 col-md-offset-1">
                    {{ $page.Content }}{{ $global.Scratch.Set "shown" true }}
                </div>
                <div class="col-md-3 in-page-nav">
                    {{ partial "in-page-nav" (dict "menu" .Children "site" $site) }}
                </div>
            </div>

        {{ end }}

    
    {{ end }}
{{ end }}

