
{{ $related := .Site.RegularPages.Related . | first 8 }}
{{ with $related }}
<h2>Further reading</h2>
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Date | time.Format ":date_medium" }} – {{ .Title }}</a></li>
	{{ end }}
</ul>
{{ end }}
