.aa-empty{
  margin:6px;
}

.aa-footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;

  .middle    { flex: 3 0px; }
  .left { order: 1; } 
  .middle    { font-weight:bold;order: 2; }
  .right { order: 3; }
}

.aa-meta-link {
  display:block;
}

.algolia-autocomplete {
  width: 100%;
  color: black;

  &.active {
    color: black !important;
    border: 1px solid $search-txt-border;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .autosuggest-section {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    font-size: 0.9em;
  }
  .autosuggest-title {
    width: 70%;
    display: inline-block;
    font-size: 1.2em;
  }

  .aa-suggestions {
    a {
      color:black;
      &.hover {
        color:black;
      }
    }
  }

  @media all and (max-width: 551px) {
    max-width: 150px;
  }
}

.hcwh-box-top {
  .aa-dropdown-menu {
    z-index:2501 !important;
  }

  .aa-dropdown-menu.aa-with-0 {
    top: 27px !important;

    @media all and (max-width: 569px) {
      top: 75px !important;

    }
  }
  .algolia-autocomplete {

    width: 355px;

    .autosuggest-section {
      width: 35%;
      display: inline-block;
      vertical-align: top;
      text-transform: capitalize;
      padding: 0 6px;
      font-size: 0.6em;
    }
    .autosuggest-title {
      width: 65%;
      display: inline-block;
      font-size: 0.9em;
    }
  }
}

.algolia-autocomplete {
  .aa-input {
    width: 100%;
    min-height: 30px;
  }
  .aa-hint {
    width: 100%;
    min-height: 30px;
    color: #999;
  }
  .aa-dropdown-menu {
    width: 100%;
    background-color: $white;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -moz-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);

    .aa-suggestion {
      &:first-of-type {
        border-top: 1px solid #fff;
        cursor: pointer;
        padding: 5px 4px;
      }
      cursor: pointer;
      padding: 5px 4px;
      border-top: 1px solid $crossref-lightgrey;
      &.aa-cursor {
        background-color: $crossref-lightgrey;
      }
      em {
        font-weight: bold;
        font-style: normal;
      }
    }
  }
}

.ais-search-box {
	margin-bottom: 2em;
}

.ais-header,
ais-clear-all--link {
	margin: 10px 0;
	font-weight: bold;
	text-transform: lowercase;
	
	&::first-letter {
		text-transform: uppercase;
	}
}

.ais-infinite-hits--item {
  span.section {
      text-transform: capitalize;
      font-size:0.8em;
      font-family: $font-medium;
  }

  p em {
    font-family: $font-regular;
    background-color: rgba($crossref-yellow, .5);
    font-style: normal;
    padding: 0px 3px;
  }
}
.ais-infinite-hits--showmore  {
  button:disabled {
    visibility:hidden;
  }
}

.ais-refinement-list--count {
	
	&::before {
		content: ' (';
	}
	
	&::after {
		content: ')';
	}
}

#search-page-input {
    width: 100%;
    background: rgba($generic-lightgrey, .3) url(../img/magnifying-glass.svg) no-repeat 6px 9px;
    background-size: 13px !important;
    border: 1px solid transparent !important;
    padding: 3px 0 3px 26px;
    border-radius: 6px;
}

.filters h4 {
	margin-top: 0;
}
