/* documentation SECTION SPECIFIC */

.documentation {
	@media (min-width: 768px){
		.modal-dialog {
		    width: 600px;
		    margin: 30px auto;
		}
	}
	@media (min-width: 1280px){
		.modal-dialog {
		    width: 1100px;
		    margin: 30px auto;
		}
	}
	@media (min-width: 1920px){
		.modal-dialog {
		    width: 1800px;
		    margin: 30px auto;
		}
	}

	button {
		margin:0 auto 20px;
	}

	#menu {
		
		padding-right: 3em;

		ol {
		  list-style-type: none;
		  counter-reset: item;
		  margin: 0;
		  padding: 0;
		}
		
		ol > li {
		  display: table;
		  counter-increment: item;
		  margin-bottom: 0.6em;
		  font-family: $font-bold;

			li {
				font-family: $font-regular;
			}

		}
		
		ol > li:before {
		  content: counters(item, ".") ". ";
		  display: table-cell;
		  padding-right: 0.6em;    
		}
		
		li ol > li {
		  margin: 0;
		}
		
		li ol > li:before {
		  content: counters(item, ".") " ";
		}	
		
		ol.current {
			background-color: $generic-lightgrey;
			margin: 0 -5px;
			padding: 0 5px;
		}
		
		li a {
			color: $crossref-darkgrey;
			
			&:hover {
				  color: #e63642;
			}
		}
	}
	
	#content {
		
		h2 {
			
			margin-top: 0;
		}
		
		.toc {
			margin-left: -8.3%;
		}
		
	}
}

.fas.fa-link {

	font-size: .7em;
	vertical-align: super;
	padding-left: 5px;
	color: rgba($crossref-blue-corrected, .3);
	transition: color .1s linear;
	
	&:hover {
		color: rgba($crossref-blue-corrected, 1);	
	}

}



.documentation #pagination {
	
	.arrow {
		font-size: 16px;
		font-weight: 900;
	}
	
	#prev {

		.arrow {
			&:before {
			padding-right: 5px;
			content: "\f104";
			font-family: FontAwesome;
			}
		}
			
	}
	
	#next {
		text-align: right;

		.arrow {
			&:after {
			padding-left: 5px;
			content: "\f105";
			font-family: FontAwesome;
			}
		}

	}

}
div#documentation-nav-burger {
	cursor: pointer;
	.nav-burger, .nav-label {
		float:left;
	}
	.nav-label {
		font-weight: 800;
	    font-family: $alt-font-stack;
	    font-size: 16px!important;
	    color: #000!important;
	    margin-left:5px;
	}
}
div#documentation-content .row {
	margin: 0;
}
div#documentation-content .nav-buttons {
	clear:both;
	padding:10px 0;

	.btn {
		padding: 6px;
		white-space: normal;
		margin-bottom: 1em;
	}


	.btnNext {
		float:right;
		text-align: right;

		&:after {
			padding-left: 5px;
			content: "\f105";
			font-family: FontAwesome;
		}
	}
	.btnPrevious {
		text-align: left;
		
		&:before {
			padding-right: 5px;
			content: "\f104";
			font-family: FontAwesome;
		}
	}
	a {
		background-color:$crossref-blue-corrected;
		border:0;
		text-decoration: none;    
		transition: background-color .1s linear;
		&:hover {
			background-color:$crossref-darkgrey;;
		}
		.btnNext {
			float:right;
		}
	}
	
}

div#documentation-content {
	
	table {
		
		tbody td {
			border: 1px solid $crossref-lightgrey;

			/* The code below will force even URLs to break, but it can have unintended consequences.*/
			/*overflow-wrap: break-word;
			word-wrap: break-word;
			-ms-word-break: break-all;
			word-break: break-all;
			word-break: break-word;
			-ms-hyphens: auto;
			-moz-hyphens: auto;
			-webkit-hyphens: auto;
			hyphens: auto;*/
		}
	}
}

div#documentation-content figure img {
	text-align: center;
	display: block;
	margin: auto;
	padding: 10px;
}

/* Sticky nav */

#documentation-sticky {

	.new-arrow {
    background: $crossref-darkgrey !important;
    color: #fff !important;
    position: relative;
    overflow: hidden;
    
	    &:hover {
		    background-color: $crossref-yellow !important;
		    color: #000 !important;
	    }
	}
}

.up-arrow {
    width: 20px;
    height: auto;
    position: absolute;
    top: 38%;
    right: 20px;
}

.move-arrow {
  -webkit-animation: up-arrow 1s 0s infinite; 
  -moz-animation:    up-arrow 1s 0s infinite; 
  -o-animation:      up-arrow 1s 0s infinite;
  animation:         up-arrow 1s 0s infinite;
}
@-webkit-keyframes up-arrow {
  0%    { top: 38%; }
  40%   { top: -32%; opacity: 1; }
  50%   { top: -33%; opacity: 0; }
  55%   { top: 108%; opacity: 0; }
  60%   { top: 108%; opacity: 1; }
  100%  { top: 38%; }
}
@-moz-keyframes up-arrow {
  0%    { top: 38%; }
  40%   { top: -32%; opacity: 1; }
  50%   { top: -33%; opacity: 0; }
  55%   { top: 108%; opacity: 0; }
  60%   { top: 108%; opacity: 1; }
  100%  { top: 38%; }
}
@-o-keyframes up-arrow {
  0%    { top: 38%; }
  40%   { top: -32%; opacity: 1; }
  50%   { top: -33%; opacity: 0; }
  55%   { top: 108%; opacity: 0; }
  60%   { top: 108%; opacity: 1; }
  100%  { top: 38%; }
}
@keyframes up-arrow {
  0%    { top: 38%; }
  40%   { top: -32%; opacity: 1; }
  50%   { top: -33%; opacity: 0; }
  55%   { top: 108%; opacity: 0; }
  60%   { top: 108%; opacity: 1; }
  100%  { top: 38%; }
}
.questions-btn {
    background-color: #4f5858;
    color: #fff;
    padding: 10px;
    border-radius: 0 0 8px 8px;
    
    a {
	    color: #ffc650;
	    text-decoration: none;
	    
	    &:hover {
			color: #fff;
	    }
    }
}

#documentation-nav {
	
	.nav-tabs {
		border-bottom: 0;
	}
	
	a {
		text-decoration: none;
	}
}