/* Inter font replacing Helvetica as default 27 March 2023 */
@font-face{
	font-family:"Inter-Bold";
	src:url("fonts/Inter-Web/Inter-Bold.woff2") format("woff2");
}
@font-face{
	font-family:"Inter-BoldItalic";
	src:url("fonts/Inter-Web/Inter-BoldItalic.woff2") format("woff2");
}
@font-face{
	font-family:"Inter-RegularItalic";
	src:url("fonts/Inter-Web/Inter-Italic.woff2") format("woff2");
}
@font-face{
	font-family:"Inter-Regular";
	src:url("fonts/Inter-Web/Inter-Regular.woff2") format("woff2");
}
@font-face{
	font-family:"Inter-Light";
	src:url("fonts/Inter-Web/Inter-Light.woff2") format("woff2");
}
@font-face{
	font-family:"Inter-LightItalic";
	src:url("fonts/Inter-Web/Inter-LightItalic.woff2") format("woff2");
}
@font-face{
	font-family:"Inter-Medium";
	src:url("fonts/Inter-Web/Inter-Medium.woff2") format("woff2");
}
@font-face{
	font-family:"Inter-MediumItalic";
	src:url("fonts/Inter-Web/Inter-MediumItalic.woff2") format("woff2");
}