.site-header {
	position: relative;
	height: 82px;
	background-color: white;

	.logo {
		position: absolute;
		top: 30px;
		right: 11px;

		.site-logo {
			width: auto;
			height: 60px;
			cursor: pointer;
			margin-top: -20px;
			
			@media (max-width: 400px) {
				height: 50px;
				margin-top: -15px;
			}
		}
	}

	.social-icons {
		position: absolute;
		top: 10px;
		right: 110px;
		margin-top:19px;
		padding: 1px;
		margin-right:15px;
	
		@media all and (max-width: 880px) {
			display: none;
		}
	}
}

.site-header-inner {
	@include clearfix();

	.menu-wrap {
    	margin-top: 27px;
		@include clearfix();
	}
}