/* SOME VARIABLES */
$slot-overlay-ease: 0.25s;
$slot-overlay-zoom: 130%;
$slot-overlay-effect: ease-out;
$slot-link-effect: ease-out;
$slot-link-ease: 0.35s;

/* HOME PAGE SLOTS */
.home-slot {
  height: 190px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-bottom: 29px;
  padding-right: 0;

  	.slot-overlay {
	    background-position: center;
	    background-size: 100% 100%;
	    height: 190px;
	    overflow: hidden;
	    margin: 0 0 29px 0;
	    border-bottom: 2px solid $crossref-darkgrey;

	    .title {
	      color: #4f5859;
	      float: left;
	      padding: 6px 0;
	      span {
	        -webkit-box-decoration-break: clone;
	        -ms-box-decoration-break: clone;
	        -o-box-decoration-break: clone;
	        box-decoration-break: clone;
	        font-size: 1.7em;

            @media (max-width: 1215px) {
                font-size: 1.4em;
            }
            
            @media (max-width: 992px) {
                font-size: 2em;
            }
	      }
	    }

	    .type {
	      color: $crossref-darkgrey;
	      padding: 6px 0;
	    }

	    .image {
		    width: 100%;
		    height: 80px;
		    background-size: cover;
		    background-position: 50% 50%;
		    &:after {
			    content: '\A';
				position: absolute;
				width: 100%; 
				height: 80px;
				left:0;
				background: $crossref-blue;
				opacity: 0;
		    }
	    }

		a {
			width: 100%;
			height: 100%;
			display: block;
			text-decoration: none !important;
			overflow: hidden;
			&:hover, &:focus {

				.title {
					color: $crossref-blue-corrected;
					transition: color $transition-time linear;
				}
				.image:after {
					opacity: 0.6;
					transition: opacity $transition-time linear;
				}
			}
		}
	}
}


@media all and (max-width: 767px) {

  .site-heading {

    &.search {

      #search {

        margin: 70px auto;

        .algolia-autocomplete{

          max-width: 100%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .home-row {
    margin-bottom: 29px;

	.last {
    	margin-bottom: 90px;
	}
  }

  .home-slot {
    margin-bottom: 0;
  }

  .home-slot-col2 {
    margin: 0 33px;
  }

}

@media (min-width: 1200px) {
	.home-slot-col2 {
		margin: 0 40px
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.home-slot .col-md-3 {
		padding-right: 0;
	}
}

