.in-page-nav {
  
  .wrapper {
    position:relative;
    
    a {
      text-decoration: none;
    }
  }
  .block {
    font-size:0.8em;
    padding:1em;
    background-color:$generic-lightgrey;
    margin-bottom:10px;
    transition: background-color $transition-time linear;
    &:hover {
      background-color:$crossref-blue-corrected;
      h2,p { color: white; }
    }
    h2 {
      font-size: 18px;
      margin-top:0;
      font-family: $font-medium;
      color: $crossref-red;
    }
    p {
      color:black;
      margin-bottom:1em;
      line-height:1.5em;
    }
    
    .summary-link {
      -webkit-transition: all $slot-link-ease $slot-link-effect; /* Safari and Chrome */
      -moz-transition: all $slot-link-ease $slot-link-effect; /* Firefox */
      -ms-transition: all $slot-link-ease $slot-link-effect; /* IE 9 */
      -o-transition: all $slot-link-ease $slot-link-effect; /* Opera */
      transition: all $slot-link-ease $slot-link-effect;
      clear: both;
      position: absolute;
      bottom: -24px;
      right: -24px;
      font-size: 16px;
      padding: 6px 11px 6px 6px;
     
      span {
        color: #fff;
        text-decoration: none;
      }
    }
    
  }
}
.in-page-nav .block:hover .summary-link {
      bottom: 0;
      right: 0;
    }