$joinflow-grey: #4F575A;
$joinflow-blue: #38B1C9;
$light-grey: #e9e9e9;

$question-header-bg: $joinflow-grey;

.jf-question-container {

  width: calc(100% - 90px);

  @media all and (max-width: 991px) {

    width: 100%;
  }
  display: block;
  margin: 10px auto 0;

  .section {
    &:not(:first-of-type) {
      display: none;
    }
  }
}

.jf-question {

  &:not(:first-of-type) {
    display: none;
  }

  .jf-question-wrap {

    margin: 10px 0;

    .jf-question-header {

      background: $question-header-bg;
      color: $white;
      height: 75px;
      line-height: 75px;

      .title {

	  	margin-left: 2em;
        font-size: 22px;
        font-family: $font-bold;

        @media all and (max-width: 509px) {
          font-size: 16px;

        }
      }
    }

    .jf-question-body.sponsored, .jf-question-body.deposit {
      min-height:inherit;
      fieldset{
        margin-bottom: 0 !important;
      }

      padding: 51px 51px 0;
    }
    .jf-question-body.terms-copy {
      &.retrieve-version {
        padding-top:0;
        fieldset {
          margin-bottom:0 !important;
        }
      }
      label {
        font-size: 16px;
        margin-bottom: 15px;

        &.error, &.error-ignored {
          color: $crossref-red;
          font-size: 12px;
          display:block;
        }
      }
    }
    .jf-question-body {

      fieldset{
        margin-bottom: 50px !important;
      }

      padding: 51px;
      min-height: 447px;

      @media all and (max-width: 992px) {
        min-height: 100%;
        padding: 25px;
      }

      h3 {
        font-size: 14px !important;
        margin: 0 0 30px 9px !important;

      }

      .jf-accordion-step-title{

        padding: 20px 0;
        display: block;
        border-top:1px solid #EFEFEF;
        border-bottom:1px solid #EFEFEF;
        margin: 50px 0 20px;

        h4{

          font-family:$font-bold;
          font-size:20px;
          color: #D2D2D2;
        }
      }

      .the-question {
        font-size: 18px;
        margin-bottom: 30px;
        display: block;
        font-family: $font-bold;
        color: $joinflow-blue;
      }

      .the-terms {
        height: 50vh;
        display: block;
        clear: both;
        overflow: auto;
        padding: 10px;
        border:1px solid $crossref-darkgrey;

        overflow-y:scroll;

        @media all and (max-width: 509px){
          height: 80vh;
        }
      }
    }
  }
}

// ==============================================
// Radio Buttons
// ==============================================

.jf-label {
  font-size: 18px !important;
  padding: 12px 0;
  cursor: pointer;

  display:inline-block;
  margin: 0;

  @media all and (max-width: 509px){
    font-size: 14px !important;
  }

  input {
    &[type=radio] {
      opacity:0;
      filter:alpha(opacity=0);
      position:absolute;
      margin: 0 0 0 26px;

      + span, + label + span {
        display: inline-block;
        width: 26px;
        height: 26px;
        margin: -2px 27px 0 0;
        float: left;

        vertical-align: middle;
        background: url(../img/checkbox_sprite.svg) 0 -26px no-repeat;
        background-size: cover;
        cursor: pointer;
      }
      &:checked + span, &:checked + label + span {
        background: url(../img/checkbox_sprite.svg) 0 0 no-repeat;
        background-size: cover;
      }
      &:focus + span, &:focus + label + span {
        background: url(../img/checkbox_sprite.svg) 0 0 no-repeat;
        background-size: cover;
      }
    }
  }
}

.left-pad-label strong{
  padding-left:10px;
}

// ==============================================
// Buttons
// ==============================================

.jf-btn {
  text-transform: capitalize;
  border: none;
  font-size: 16px;
  font-family: $font-bold;
  border-radius: 0;
  display: block;
  margin: 20px 0 !important;

  &.blue {

    background: $joinflow-blue;
    color: $white;
    padding: 15px 66px;
    cursor: pointer;
    max-width:251px;

    &:hover {
      background: darken($joinflow-blue, 10%);
    }

    &:disabled {
      background: #dddddd;
      cursor: not-allowed;

      &:hover {
        background: #dddddd;
      }
    }
    &.hidden-btn {
      pointer-events: none;
      background: #e9e9e9;
      cursor: not-allowed !important;
    }
  }

  &.white {
    background: $white;
    border: 1px solid #E2E2E2;
    margin-bottom: 45px;
    max-width: 169px;
    color: #E2E2E2;
    cursor: pointer;

    &.sm {
      padding: 7px 56px;
    }
    &.lg {
      padding: 15px 66px;
    }

    &:hover {
      background: lighten(#E2E2E2, 10%);
    }

    &:disabled {
      background: #dddddd;
      cursor: not-allowed;

      &:hover {
        background: #dddddd;
      }
    }
  }
}

.jf-btn-small {
  background: #e9e9e9;
  border: none;
  font-size: 10px !important;
  border-radius: 3px;
  display: block;
  text-align: center;
  margin: 0 !important;
  cursor: pointer;

  &.yellow {
    background: $crossref-yellow;
    color: $white;
    border: 1px solid $crossref-yellow;

    &:hover {
      background: $white;
      color: $crossref-yellow;
    }
  }
}

.btn-container {
  padding: 20px 51px;

  @media all and (max-width: 992px) {
    padding: 20px 25px;
  }

  @media all and (max-width: 509px) {
    padding: 25px;
  }
}

button.doi-btn {
  margin:0;
  padding:8px 12px;
  &.btn-success, &.btn-danger {
    background-color: $crossref-darkblue;
    &:active:focus {
      background-color: $crossref-darkblue;
      outline-offset:0;
    }
  }
}

.next-question-nq{
  margin-top: 50px !important;
  max-width:220px;
  display: block;
  text-transform: capitalize;
  cursor: pointer;
  
  &:hover{
    color: #fff;

  }
}

.extra-contact {
  display:none;
}
  .next-section,
  .prev-section,
  .next-question,
  .next-question-nq,
  .add-contact,
  button.jf-sumbit-form,
  button.jf-continue-button{

    @media all and (max-width: 509px){
      display: block !important;
      text-align: center;
    }

    &.disabled,
    &:disabled{
      background-color: #dddddd;
      cursor: default;

      &:hover {
        background-color: #dddddd;
      }
    }
  }

  .next-section,
  .next-question,
  .add-contact,
  .next-question-nq,

  button.jf-sumbit-form, button.jf-continue-button{

    background: $crossref-darkblue url('../img/next.svg') no-repeat 95%;
    background-size: 13px;
    color: #FFF;
    display: inline;
    margin: 0;
    border-radius: 0;

    &:hover{
      background-color: darken($joinflow-blue, 10%);
      color: #FFF;
    }
  }
  button.jf-sumbit-form, button.jf-continue-button{
    padding: 12px 110px 12px 80px;
  }
  .next-question,
  .add-contact,
  .next-question-nq,
  .next-section{
    padding: 15px 110px 15px 80px;

    @media all and (max-width: 509px){
      padding: 15px 153px;
    }
  }
  .prev-section{
    padding: 14px 50px;
    @media all and (max-width: 509px){
      padding: 15px 153px;
      margin-bottom: 20px;
    }
    color: $crossref-darkgrey;
    background: $white;
    border:1px solid $crossref-darkgrey;
  }

.jf-question-5{
  .btn-container{
    padding: 20px 15px;
  }
}
.jf-accordion-finish {
  margin-top: 30px;
}

// ==============================================
// Info Bubble
// ==============================================

.info-bubble {

  border: 1px solid #E2E2E2;
  background: #F7F7F7;
  display: block;
  margin: 0 auto;
  max-width: 224px;
  position: relative;
  padding: 25px 12px 12px 12px;

  p {
    font-size: 12px;
    line-height: 21px;
  }

  &:after, &:before {

    right: 100%;
    top: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {

    border-color: rgba(247, 247, 247, 0);
    border-right-color: #F7F7F7;
    border-width: 15px;
    margin-top: -15px;
  }

  &:before {

    border-color: rgba(226, 226, 226, 0);
    border-right-color: #E2E2E2;
    border-width: 16px;
    margin-top: -16px;
  }
}

// ==============================================
//  Section Display Properties
// ==============================================

.section {

  padding-bottom: 30px;

}

.information-box {
  display: none;
  background: lighten($crossref-red, 40%);
  border: 1px solid lighten($crossref-red, 30%);
  padding: 20px;
  margin-top: 20px;
  ul {
    li {

      a {
        color: $crossref-darkgrey;

        &:hover {
          color: $crossref-red;
        }
      }
    }
  }
}

#agreement-content {
  padding: 30px;

  h2 {
    font-size: 22px !important;
  }

  > .joinlink {
    display: none !important;
  }
}

.sponsor_org_not_present {
  display:none;
}

.question-name {
	/* Brings these into line witih label styling from Bootstrap */
	font-weight: 700;
	font-size: 16px;
}
