@mixin marp {
  margin: 0;
  padding: 0;
}

@mixin square($size) {
  display: block;
  width: $size;
  height: $size;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

$menu-nav-bg-opaque: rgba(69, 70, 71, 0.98);
$menu-nav-bg: rgba(69, 70, 71, 1);
$menu-nav-bg-mobile:#4F5758;

body, html {
  min-height:100% !important;
  position: relative !important;
  @include clearfix();
}

.menu-social-wrap {
  display: block;
  margin-top: 31px;
  margin-left: 20px;
  @media all and (max-width: 750px) {
    margin-left: 0;
  }
  float: left;

  @include clearfix();
}

.menu-icon, #documentation-nav-burger {
  list-style: none;
  float: left;
  margin: 5px 10px 0 0;
  padding: 0 10px 0 0 !important;
  cursor: pointer;

  li {

    &:first-child {
      margin-top: -2px;
      margin-right: 5px;
    }

    float: left;
    height: 20px;
    line-height: 20px;
    font-weight: 800;
    font-family: $font-bold;
    font-size: 16px !important;
    color: #000 !important;
  }

  .nav-burger {
    width: 22px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .nav-burger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .nav-burger span:nth-child(1) {
    top: 0;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .nav-burger span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .nav-burger span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  .nav-burger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

  }

  .nav-burger.open span:nth-child(2) {
    width: 0;
    opacity: 0;
  }

  .nav-burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 15px;
  }

}

.navigation {
  &.navigation-left,
  &.left-nav {
    &.open-state {
      display: block !important;
      left: 0 !important;
    }

    //min-height:100vh;

    min-width: 250px;
    max-width: 750px;
    position: absolute;
    z-index: 99999;
    top: 82px;
    left: -250px;
    bottom: 0;

    background-color: $menu-nav-bg-opaque;
    overflow-x: hidden;
    transition: 0.5s;

    &.wide {
      min-width: 500px;
    }

    &.ultra-wide {
      min-width: 750px;
    }
    ul {
      list-style: none;
      @include marp();

      li {
        a {
          padding: 15px 20px;
          display: block;
          color: $white;
          font-size: 20px;
          font-weight: normal;
          transition: background-color $transition-time linear;

          &:hover {
            color: #FFC650;
          }
        }

        &:hover {
          cursor: pointer;
          border-left: 4px solid $crossref-yellow;
        }
        &.first {
          margin-top: 4em;
        }
        &.special {
          max-width: 250px;
          a {
            width: 100%;
            &:hover {
              color: $crossref-yellow;
            }
          }
        }
        &.apply {
          background: $crossref-red;
          &:hover {
            background: $menu-nav-bg-opaque;
          }
        }
        &.members {
          background: $crossref-blue;
          &:hover {
            background: $menu-nav-bg-opaque;
          }
        }
        &.help {
          background: $crossref-yellow;
          &:hover {
            background: $menu-nav-bg-opaque;
          }
        }
        //&.sub-sub-menu,
        &.sub-menu{
          background: url('../img/play-symbol.svg') no-repeat 215px center !important;
          background-size: 11px !important;
        }
      }

      .child-items {
        list-style: none;
        position: absolute;
        left: 250px;
        top: 0;
        width: 250px;

        height: 100%;
        z-index: 99999;
        display: none;

        border-left: 2px solid #474E4F;

        li {
          a {
            font-size: 18px !important;
            line-height: 26px !important;
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }

        .child-child-items {
          list-style: none;
          position: absolute;
          left: 248px;
          top: 0;
          width: 250px;

          height: 100%;
          z-index: 99999;
          display: none;

          border-left: 2px solid #474E4F;

          li {
            a {
              font-size: 18px !important;
              line-height: 26px !important;
              padding-top: 8px;
              padding-bottom: 8px;
            }
          }
        }
      }
    }
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  background-color: $menu-nav-bg-mobile;
  top: 82px;
  z-index: 999999;
  width: 100%;
  ul {
    list-style: none;
    @include marp();
  }
  li {
    //border-top: 1px solid darken($menu-nav-bg-mobile, 10%);
    position: relative;
    z-index: 10;

    .menu-arrow{
      @include square(48px);
      position: absolute;
      background: #4F5758 url('../img/down-arrow.svg') no-repeat center center;
      background-size:13px;
      right: 0;
      top: 0;
      z-index: 999999;
      cursor: pointer;

      &.active {
        background: #4F5758 url('../img/up-arrow.svg') no-repeat center center;
        background-size:13px;
      }
    }

    a {
      color: $white;
      padding: 0 0 0 5px;
      display: block;
      padding-right: 47px;
      height: 48px;
      line-height: 48px;
    }
  }

  .menu-arrow {
    cursor: pointer;
  }

  .mobile-child-items {
    background: darken($menu-nav-bg-mobile, 5%);
    display: none;
  }

  .sub-sub-menu {
    .child-child-items {
      display: none;
      background: darken($menu-nav-bg-mobile, 10%);
    }
  }
}





