/* SOME VARIABLES */
$crossref-nav-darkgrey: #3f4747;


.nav-container {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
    pointer-events: default;
    background: $crossref-nav-darkgrey;
    overflow: auto;
}

body.stop-scroll {
    overflow: hidden;
}

.nav-container--hidden {
    opacity: 0;
    pointer-events: none;
}

#nav2019 {

    .social-icons {
        .fab {
            color: $white;
            &:hover {
                color: #000;
            }
        }
        position: absolute;
        top: 10px;
        right: 110px;
        margin-top: 19px;
        padding: 1px;
        margin-right: 15px;
    }

    .logo {
        position: absolute;
        top: 30px;
        right: 11px;
    }

    .logo .site-logo {
        width: auto;
        height: 60px;
        cursor: pointer;
        margin-top: -20px;
        @media (max-width: 400px) {
            height: 50px;
            margin-top: -15px;
        }
    }

    .nav-toggle {
        pointer: cursor;
    }

    .child-list--show {
        height: auto !important;
        opacity: 1 !important;
        overflow: visible !important;
        margin-top: 15px !important;
    }

    .menu-wrap {
        padding: 27px 15px;
        span {
            background: $white !important;
        }
        .menu-icon li {
            color: $white !important;
        }
    }

    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;

    .child-list a {
        font-weight: 600;
    }

    .nav-wrapper h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 1em;
    }
    .mobile-home-btn {
        display: none;
    }
    .nav-wrapper {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 82px;
        padding: 50px;
    }
    .nav-outer-flex {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        transition: all 0.5s ease;
    }
    .nav-flex {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        transition: all .1s linear;
    }
    .nav-col {
        flex: 1;
        padding: 20px;
        position: relative;

	    h2 {
	        margin-top: 0;
	    }

	    h3 {
			font-size: 18px;
	    }

	    a {
	        color: $white;
	        text-decoration: none;
		    &:hover {
		        color: $crossref-yellow;
		    }
		}

	    ul {
	        list-style: none;
	        padding: 0;
	        margin: 0;

	        li {
		        margin-bottom: 17px;
	        }

			&.key-nav {
		        line-height: 47px;

		        li {
			        margin-bottom: 0;
		        }
	        }
	    }
	}

    .order-1 {
        order: 1;
    }
    .order-2 {
        order: 2;
    }
    .order-3 {
        order: 3;
    }
    .first-col {

	    ul {
	        font-size: 20px;
	        line-height: 47px;
		}

	    li:first-of-type {
	        margin-top: -5px;
	    }

	    a {
	        display: -webkit-box;
	        display: -moz-box;
	        display: -ms-flexbox;
	        display: -webkit-flex;
	        display: flex;
	        -webkit-align-items: center;
	        -ms-align-items: center;
	        align-items: center;
	        padding: 5px 10px;
	        transition: all .1s linear;

		    &:hover {
		        background-color: $white;
		        color: $crossref-darkgrey !important;

				svg {
			        fill: $crossref-darkgrey;
			    }
			}
		}
	}

    .nav-icon {
        width: 24px;
        height: auto;
        margin-right: 7px;
        transition: all .1s linear;
    }
    a.normal svg {
        fill: $white;
    }

    a.reverse svg {
        fill: $crossref-darkgrey;
    }
    
    .apply-nav {
        background-color: $crossref-yellow;
    }
    .members-nav {
        background-color: $crossref-red;
    }
    .documentation-nav {
        background-color: $crossref-lightgrey;
        color: $crossref-darkgrey !important;
    }
    .forum-nav {
        background-color: $crossref-blue-corrected;
    }
    
    .footer-colours {
        background-image: url(../img/nav-footer.svg);
        background-size: 101%;
        background-position: center center;
        height: 10px;
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0;
        z-index: 1;
    }
    .light-grey-text,
    .desktop-style {
        color: $crossref-lightgrey;
    }
    .dark-grey {
        background-color: $crossref-darkgrey;
        color: $white;
    }
    .posts {
	    a {
        	color: $crossref-yellow !important;

			&:hover {
				color: $white !important;
			}
		}

	    h5 {
	        margin-top: 0;
	        font-size: 10px;
	    }
	}

    .profile-pic {
        height: 45px;
        width: 45px;
        background-color: $white;
        border-radius: 100%;
        position: absolute;
        top: 10px;
        right: 20px;
    }
    .latest-posts {
        border-bottom: 1px solid $crossref-lightgrey;
        display: block;
        text-align: right;
        padding-bottom: 15px
    }
    .mobile-hr {
        display: none;
    }
    .plus-wrapper {
        width: 15px;
        height: 15px;
        overflow: hidden;
        position: relative;
        float: right;
        margin-top: 5px;
        margin-right: 15px;
        display: none;
    }
    .plus {
        width: 100%;
        height: 3px;
        background: $white;
        margin-top: 7px;
        transition: all 0.5s ease;
    }
    .minus {
        width: 100%;
        height: 3px;
        background: $white;
        transform: rotate(90deg);
        position: absolute;
        left: 0;
        top: 7px;
        transition: all 0.5s ease;
    }
    .rotate-minus {
        transform: rotate(0deg) !important;
    }
    @media (max-width: 1630px) {
        .nav-wrapper {
            padding: 10px;
            height: auto;
        }
    }
    @media (max-width: 1150px) {

        first-col {
            padding-top: 15px;
        }
        .mobile-home-btn {
            display: block;
        }
        .hide-small {
            display: none;
        }
        .order-2 {
            order: 3;
            margin-top: 10px;
        }
        .order-3 {
            order: 2;
        }
        #get-involved-child,
        #find-a-service-child,
        #get-help-child,
        #about-us-child {
            transition: all 0.5s ease;
            height: 0px;
            overflow: hidden;
            opacity: 0;
        }
        .plus-wrapper {
            display: block;
        }
        #get-involved:hover,
        #find-a-service:hover,
        #get-help:hover,
        #about-us:hover {
            cursor: pointer;
            color: $crossref-yellow;
        }
        #get-involved:hover .go-yellow,
        #find-a-service:hover .go-yellow,
        #get-help:hover .go-yellow,
        #about-us:hover .go-yellow {
            background: $crossref-yellow;
        }

        .show-get-involved-children,
        .show-find-a-service-children,
        .show-get-help-children,
        .show-about-us-children {
            height: auto !important;
            opacity: 1 !important;
            overflow: visible !important;
            margin-top: 15px !important;
        }
        .nav-outer-flex {
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: flex-start;
            -ms-align-items: flex-start;
            align-items: flex-start;
        }
        .nav-flex {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            flex: 1;
            padding-bottom: 100px;
        }
        .latest-posts {
            text-align: left;
            border-bottom: 0;
        }
        .posts {
            border-left:  1px solid $crossref-lightgrey;
        }
        .nav-wrapper h2 {
            font-size: 20px;
        }
        .nav-col {
            padding: 20px 20px 0;
        }
        .mobile {
            padding-bottom: 3px;
            padding-left: 30px;
        }
        .mobile h2 {
            margin-bottom: 0;
        }
        .mobile-hr {
            display: block;
            margin-bottom: 30px;
        }
        .child-list {

            background-color: $crossref-nav-darkgrey;
            position: relative;

	        li:first-of-type {
            	padding-top: 10px;
			}

	        a {
	            padding-left: 15px;
	        }

			li:last-child {
	            padding-bottom: 10px;
	        }
	    }

        .child-mobile-arrow {
            height: 20px;
            width: 20px;
            background-color: $crossref-nav-darkgrey;
            position: absolute;
            transform: rotate(45deg);
            top: -10px;
            left: 14px;
        }
        .desktop-style {
            color: $white;
        }
    }

    @media (max-width: 535px) {
        .footer-colours {
            bottom: -51px;
        }
        .posts {
            display: none;
        }

    }

    @media (min-width: 1150px) {
        .nav2019__post {
            p:empty {
                display: none;
            }



        }

        .nav2019__post-text {
            max-height: 255px;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            margin-bottom: 10px;
            &:after {
                content: "";
                display: block;
                height: 50px;
                background: $crossref-darkgrey;
                background: -webkit-linear-gradient(bottom, rgba($crossref-darkgrey,1) 0%, rgba($crossref-darkgrey,0) 100%);
                background: -o-linear-gradient(bottom, rgba($crossref-darkgrey,1) 0%, rgba($crossref-darkgrey,0) 100%);
                background: linear-gradient(to top, rgba($crossref-darkgrey,1) 0%, rgba($crossref-darkgrey,0) 100%);
                width: 100%;
                position: absolute;
                bottom: 0px;
            }
        }

        .posts {
            margin-bottom: 20px;
        }
    }

}
