@media print {
	.social-icons {
		display:none;
	}
	ul.logo-social li a[href].crossref-brand::after {
		content:"";
	}
	ul.wy-breadcrumbs li a[href]::after{
		content:"";
	}

	footer {
		display:none;
	}
	.navigation {
		display:none;
	}
	#cookie-bar {
		display:none;
	}
}