{{ $_hugo_config := `{ "version": 1 }` }}
{{ $depth :=  999 }}
{{ $indent := 0 }}
{{ $thisPermalink := .RelPermalink}}
{{ $scratch := newScratch }}

<nav id='documentation-nav' class='nav nav-tabs'>


	<div id='v-tab'>

		{{ $documentation_top := .Site.GetPage "documentation" }}

		<a class='nav-item nav-link ' href="{{$documentation_top.RelPermalink}}" >{{ $documentation_top.Title }}</a>
		
		<!-- the where clause is supposed to only include pages where nomenu is NOT set but it includes all _index.md files regardless??? -->
		{{ $documentation_pages := where $documentation_top.Pages "Params.nomenu" "==" nil }}	

		{{ $documentation_pages_sorted := sort $documentation_pages ".Page.Menus.documentation.Weight"	}}

		{{ $documentation_pages_filtered := where $documentation_pages_sorted "Params.nomenu" "==" nil }}

		{{ $scratch.Set "navpages" $documentation_pages_filtered }}

		{{ $navpages := ($scratch.Get "navpages") }}

		{{ $scratch.Set "insection" "true" }}

		{{template "childs" dict "menulist" $navpages "count" 1 "depth" $depth "indent" $indent "thisPermalink" $thisPermalink "insection" ($scratch.Get "insection") }}

		<div id="documentation-sticky">
			<a class="nav-item nav-link new-arrow" onclick="window.scrollTo(0,0);">
	            Back to top
	            <img src="/img/white-up-arrow.svg" class="up-arrow " alt="up arrow">
	        </a>
			<div class="questions-btn">Questions?
				<br>
			 			<a href="https://community.crossref.org" >Visit forum</a>
						or <a href="/contact/"> contact us</a>
	        </div>
		</div>
	</div>
</nav>

{{ define "childs" }}
	
	{{ $scratch := newScratch }}
	{{ $scratch.Set "thisdepth" $.depth }}
	{{ range .menulist }}

		{{ $scratch.Set "thisindent" "" }}

		{{ if eq $.indent 1 }}
			{{ $scratch.Set "thisindent" "indent" }}
		{{ end }}
		{{ if eq $.indent 2 }}
			{{ $scratch.Set "thisindent" "doubleindent" }}
		{{ end }}

		{{ if (eq .RelPermalink $.thisPermalink )}}
			<a class='nav-item nav-link active {{ $scratch.Get "thisindent" }}' href="{{.RelPermalink}}" >{{ .Title }}</a>
			{{ $scratch.Add "thisdepth" $.depth }}
		{{ else }}
			{{ if eq "true" $.insection }}
				<a class='nav-item nav-link {{ $scratch.Get "thisindent" }}' href="{{.RelPermalink}}" >{{ .Title }}</a>
			{{ else }}
				<a style='display:none;' class='nav-item nav-link {{ $scratch.Get "thisindent" }}' href="{{.RelPermalink}}" >{{ .Title }}</a>
			{{ end }}
			{{ $scratch.Set "thisdepth" $.depth }}
		{{ end }}

		{{ if (in $.thisPermalink .RelPermalink) }}
			{{ $scratch.Set "insection" "true" }}
		{{ else }}
			{{ $scratch.Set "insection" "false" }}
		{{ end }}

		{{ if lt $.count ($scratch.Get "thisdepth") }}

			{{ if .Sections }}
				{{ $scratch.Set "navpages" ((partialCached "documentation/documentation_regular_pages" .) | union .Sections) }}
			{{else}}
				{{ $scratch.Set "navpages" (partialCached "documentation/documentation_regular_pages" .) }}
			{{end}}

			{{ $navpages := ($scratch.Get "navpages") }}

			{{ template "childs" dict "menulist" $navpages.ByWeight "count" (add $.count 1) "depth" ($scratch.Get "thisdepth") "thisPermalink" $.thisPermalink "indent" (add $.indent 1) "insection" ($scratch.Get "insection") }}


		{{end}}
	{{end}}
{{end}}
