<form class='blogsearch' action='/site-search/' method='get'>
<input type='hidden' name='refinementList[section][0]' id='refinementList[section][0]' value='Userdocs'/>
<input placeholder='Search the Userdocs' type='text' name='q' id='q'>
<input type='submit'>
</form>
