<aside>
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.userdocs }}
            {{ if .HasChildren }}
                <li class="{{ if $currentPage.HasMenuCurrent "userdocs" . }}active{{ end }}">
                    <a href="#">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                <ul class="sub-menu">
                    {{ range .Children }}
                        <li class="{{ if $currentPage.IsMenuCurrent "userdocs" . }}active{{ end }}">
                            <a href="{{ .Permalink }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            {{ else }}
                <li>
                    <a href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
       
    </ul>
</aside>