{{ if eq (.Get 0) "rally" }}

	{{ .Scratch.Set "title" "Rally" }}
	{{ .Scratch.Set "body" "Getting the community working together to make scholarly communications better" }}

{{ end }}

{{ if eq (.Get 0) "tag" }}

	{{ .Scratch.Set "title" "Tag" }}
	{{ .Scratch.Set "body" "Structuring, processing, and sharing metadata to reveal relationships between research outputs" }}

{{ end }}

{{ if eq (.Get 0) "run" }}

	{{ .Scratch.Set "title" "Run" }}
	{{ .Scratch.Set "body" "Operating a shared, open infrastructure that is community-governed and evolves with changing needs" }}

{{ end }}

{{ if eq (.Get 0) "play" }}

	{{ .Scratch.Set "title" "Play" }}
	{{ .Scratch.Set "body" "Engaging in debate and experimenting with technology to solve our members’ problems" }}

{{ end }}

{{ if eq (.Get 0) "make" }}

	{{ .Scratch.Set "title" "Make" }}
	{{ .Scratch.Set "body" "Creating tools and services to enable connections and give context" }}

{{ end }}

<div class="row keyword-row {{ .Get 0 }}">
	<div class="col-md-2">
		<p class="keyword">{{ .Scratch.Get "title" }}</p>
	</div>
	<div class="col-md-10">
		<p>{{ .Scratch.Get "body" }}</p>
	</div>
</div>