{{ $apicall := .Get 0 }}
{{ $fields := .Get 1 }}
{{ if len .Params | eq 3 }}{{ $.Scratch.Set "columns" (.Get 2) }}{{ else }}{{ $.Scratch.Set "columns" (.Get 1) }}{{ end }}
{{ $fieldnames  := split $fields  ","}}
{{ $columnnames := split ($.Scratch.Get "columns")  ","}}

<table id="" class="member-list">
	<thead>
		<tr>
			{{ range $columnnames }}
			<th>{{ . }}</th>            
			{{ end }}
		</tr>
	</thead>
	<tbody>

	
	{{ $data := getJSON ( printf "%s%s%s&select=%s" .Site.Params.apiURL $apicall .Site.Params.apiUser $fields)  }}

	{{ $items := $data.message.items }}


	{{ range $items }}
	{{ $item := .}}
	<tr>
		{{ range $fieldnames }}
		<td>			
			{{ index $item . }}
		</td>         
		{{ end }}
	</tr>
	{{ end }}


		
	
	</tbody>

</table>

