{{ $paramname := .Page.Title }}
{{ $authorlink := print "authors/" $paramname |urlize}}

{{ $fields := getJSON "/data/team/biographies.json" }}

{{ range sort $fields "fullname" }}
    {{ if eq .fullname $paramname }}
        {{ partial "staff/block-detail.html" . }}
    {{ end }}
{{ end }}

{{ $author := site.GetPage $authorlink }}
{{ $theirposts := first .Site.Params.BioStoryLimit (where $author.Pages ".Type" "blog" ) }}


{{ if len $theirposts }}
<div class="col-sm-9 col-md-offset-3">

<h3>{{ $paramname }}'s Latest Blog Posts</h3>
    {{ range $theirposts }}
        {{ .Render "archive_single_embedded" }}
    {{ end }}

{{ else }}
{{ end }}

{{ if len $theirposts }}
<p style="padding: 2em 0;">
    <a href='/{{ $authorlink }}'>Read all of {{ $paramname }}'s posts &raquo;</a>
</p>
</div>

{{ end }}

