<div 
    id="video-player-{{ .Get "id" }}"
    class="vimeo-player-container"
    data-player-id="{{ .Get "id" }}"
    data-default-video="{{ (index (index .Site.Data.videos.vimeo (.Get "id")) 0).id }}"
    >
<div class="video-languages">
    {{ range (index .Site.Data.videos.vimeo (.Get "id")) }}
    <a type="button" style="cursor:pointer;" class="video-language-button" data-videoid="{{ .id }}" data-playerid="video-player-{{ $.Get "id" }}">{{ .lang }}</a>
    {{ end }}
</div>
<div id="vimeo-{{ .Get "id" }}"></div>
</div>
