<div class="first clearfix">
	<h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
	<div class="details-wrapper clearfix">
		<div class="img">
			<img src="/img/profile-pic.gif" width="57" height="57">
		</div>
		<div class="details">
			<p>{{if .Params.author}}{{.Params.author}}{{else}}{{ .Site.Params.Author }}{{end}}, {{ dateFormat "Monday, Jan 2, 2006" .Lastmod }}</p>
			<p>{{ partial "categories.html" .}}</p>
			<p><a href="">Leave a comment</a></p>
		</div>
	</div>
	<div class="blog-copy">
		<p>{{ .Summary }}</p>
	</div>
</div>