{{ partial "header" . }}


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header short">
    <div class="container short">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-1 col-md-10 col-md-offset-1">
                <h1 id='application_page_title' data-pagetitle_alt="{{ .Site.Data.simcheck_transition.questions.page_title_new }}">{{ .Site.Data.simcheck_transition.questions.page_title }}</h1>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class='firstpageonly'>
                {{ .Content }}
            </div>
        </div>
    </div>
</div>

<div class="join-steps-container">
    <ul class="triangular-steps">
        <li id="your-metadata" class="active"><a href="#0">{{ .Site.Data.simcheck_transition.questions.step_1_txt }}</a></li>
        <li id="your-details"><a href="#0">{{ .Site.Data.simcheck_transition.questions.step_2_txt }}</a></li>
        <li id="your-membership"><a href="#0">{{ .Site.Data.simcheck_transition.questions.step_3_txt }}</a></li>
    </ul>
</div>

<div class="required-text">
    <p>{{ .Site.Data.simcheck_transition.questions.required_txt }}</p>
</div>

<div class="jf-question-container">
    <form id="WebToLeadForm"         
        data-action_alt="https://formspree.io/{{ .Site.Params.formspree.simcheck_new_applicant }}"
        action="https://formspree.io/{{ .Site.Params.formspree.simcheck_transition }}" 
        method="POST" 
        name="WebToLeadForm">
        <input type="text" name="_gotcha" style="display: none">
        <div class="section section-1 your-metadata" data-id="your-metadata">
            <div class="jf-question jf-question-1">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.simcheck_transition.questions.question_1_title }}</span>
                    </div>
                    <div class="jf-question-body sponsored container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class="jf-accordion">
                                    <div class="jf-accordion-steps">
                                        <div class="jf-accordion-step">
                                            <div class="jf-accordion-step-body jf-wide">
                                                <div class="jf-contacts-container">
                                                    <div class="jf-contact jf-contact-1">
                                                        <div class="jf-contact-title">
                                                            <label>{{ .Site.Data.simcheck_transition.questions.question_1_contact_1_title }}
                                                            </label>
                                                        </div>
                                                        {{ if ( .Site.Data.simcheck_transition.questions.question_1_help_bubble_1 ) }}
                                                        <div>
                                                            <div class="info-para">
                                                                <p>{{ .Site.Data.simcheck_transition.questions.question_1_help_bubble_1 | markdownify}}</p>
                                                            </div>
                                                        </div>
                                                        {{ end }}
                                                        <div class="jf-contact-body">
                                                            <fieldset data-parent="same_as_business_contact">
                                                                <ul class="jf-contact-form-wrap">
                                                                    <li>
                                                                        <label for="contact_3_first_name">{{ .Site.Data.simcheck_transition.questions.question_1_first_name }}</label>

                                                                        <br>
                                                                        <input type="text" name="24_application_contact_first_name"  id="contact_3_first_name" data-js="first_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="contact_3_last_name">{{ .Site.Data.simcheck_transition.questions.question_1_last_name }}</label>
                                                                        <br>
                                                                        <input type="text" name="24_application_contact_last_name" id="contact_3_last_name" data-js="last_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="contact_3_email">{{ .Site.Data.simcheck_transition.questions.question_1_email_address }}</label>
                                                                        <br>
                                                                        <input type="email" name="24_application_contact_email" id="contact_3_email" data-js="email" class="">
                                                                        <br>
                                                                    </li>
                                                                </ul>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-container container">
                    <div class="row">
                        <a class="next-question next-question-nq">Next</a>
                    </div>
                </div>
            </div>
            <div class="jf-question jf-question-2">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.simcheck_transition.questions.question_2_title }}</span>
                    </div>
                    <div class="jf-question-body sponsored container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class="jf-accordion">
                                    <div class="jf-accordion-steps">
                                        <div class="jf-accordion-step">
                                            <div class="jf-accordion-step-body">
                                                <fieldset class='sponsor_org_present'>

                                                    <label for="supplied_organisation_name" id=>{{ .Site.Data.simcheck_transition.questions.question_2_org }}</label>
                                                    <br>
                                                    <input style='display:none;' type="text" name="40_organisation_id" id="organisation_id">
                                                    <br>
                                                    <input type="text" readonly name="40_supplied_organisation_name" id="supplied_organisation_name">
                                                    <br>


                                                    <label for="first_name">{{ .Site.Data.simcheck_transition.questions.question_2_question }}</label>
                                                    {{ if ( .Site.Data.simcheck_transition.questions.question_2_help_bubble ) }}
                                                    <div>
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.simcheck_transition.questions.question_2_help_bubble | markdownify}}</p>
                                                        </div>
                                                    </div>
                                                    {{ end }}
                                                    <br>
                                                    <input type="text" name="40_fixing_organisation_name" id="organisation_namex">
                                                    <br>
                                                </fieldset>

                                                <fieldset class='sponsor_org_not_present'>

                                                    <label for="first_name">{{ .Site.Data.simcheck_transition.questions.question_2_question_no_org }}</label>
                                                    {{ if ( .Site.Data.simcheck_transition.questions.question_2_help_bubble_no_org ) }}
                                                    <div>
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.simcheck_transition.questions.question_2_help_bubble_no_org | markdownify}}</p>
                                                        </div>
                                                    </div>
                                                    {{ end }}
                                                    <br>
                                                    <input type="text" name="40_organisation_name" id="organisation_name">
                                                    <br>
                                                </fieldset>

                                                <fieldset>

                                                    <label for="manuscript_transition">{{ .Site.Data.simcheck_transition.questions.question_2a_question }}</label>
                                                    <div class="info-para">
                                                        <p>{{ .Site.Data.simcheck_transition.questions.question_2a_help_bubble | markdownify }}</p>
                                                    </div>
                                                    <select id="manuscript_transition" class="multiselect" name="manuscript_transition" multiple size="5">
                                                        {{ $currentNode := . }}
                                                        {{ range .Site.Data.boilerplate.simcheck_manuscript_submission_types.dropdown.method }}
                                                        <option value="{{ .value }}">{{ .value }}</option>
                                                        {{ end }}
                                                    </select>
                                                </fieldset>
                                                

                                                <br>

                                                <fieldset id="yes_other" style="display:none;">
                                                    <label>{{ .Site.Data.simcheck_transition.questions.question_2a_other_which }}
                                                    </label>
                                                    <input type="text" name="other_submission_system" id="other_submission_system">
                                                </fieldset>


                                                <fieldset id="yes_manuscript_submissions" style='display:none'>
                                                    <label>{{ .Site.Data.simcheck_transition.questions.question_2b_question }}
                                                    </label>
                                                    <label class="jf-label"> <input id='yes_integrate_similarity_check' class="jf-question-option" type="radio" name="integrate_similarity_check" value="yes"> <span></span> Yes</label>
                                                    <br>
                                                    <label class="jf-label"> <input id='no_integrate_similarity_check' class="jf-question-option" type="radio" name="integrate_similarity_check" value="no"> <span></span> No</label>
                                                    <br>
                                                    <!--<fieldset id='no_integration' style='display:none;'>
                                                        <label>{{ .Site.Data.simcheck_transition.questions.question_2c_question }}</label>
                                                        <fieldset>
                                                            <input type="text" name="no_integration_answer" id="no_integration_answer" data-js="no_integration_answer">
                                                            <br>
                                                        </fieldset>
                                                    </fieldset>-->
                                                </fieldset>




                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div> 






                <div class="btn-container container">
                    <div class="row">
                        <a class="next-question next-question-nq">Next</a>
                    </div>
                </div>
            </div>
            <div class="jf-question jf-question-3">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.simcheck_transition.questions.question_3_title }}</span>
                    </div>
                    <div class="jf-question-body sponsored container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class="jf-accordion">
                                    <div class="jf-accordion-steps">
                                        <div class="jf-accordion-step">
                                            <div class="jf-accordion-step-body">
                                                <fieldset>

                                                  

                                                    <label for="prefixes">{{ .Site.Data.simcheck_transition.questions.question_3_question }}</label>
                                                    {{ if ( .Site.Data.simcheck_transition.questions.question_3_help_bubble ) }}
                                                    <div>
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.simcheck_transition.questions.question_3_help_bubble | markdownify}}</p>
                                                        </div>
                                                    </div>
                                                    {{ end }}
                                                    <br>

                                                    <div class="input-group control-group after-add-more">           
                                                        <input placeholder="Enter your DOI prefix..." type="text" name="addmore[]" class="form-control doi-builder" placeholder="Enter your DOI in the form 10.xxxx etc" pattern="10.[0-9]{1,}">
                                                        <div class="input-group-btn"> 
                                                            <button class="doi-btn btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i> Add another prefix</button>
                                                        </div>
                                                    </div>

                                                    <div class="copy-fields hide">
                                                        <div class="control-group input-group" style="margin-top:10px">
                                                            <input placeholder="Enter your DOI prefix..." type="text" name="addmore[]" class="form-control doi-builder" placeholder="Enter your DOI in the form 10.xxxx etc" pattern="10.[0-9]{1,}">
                                                            <div class="input-group-btn"> 
                                                                <button class="doi-btn btn btn-danger remove" type="button"><i class="glyphicon glyphicon-minus"></i> Remove</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" readonly name="prefixes" id="prefixes">
                                                    <br>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-container container">
                    <div class="row">                        
                        <a class="next-question next-question-nq">Next</a>
                    </div>
                </div>
            </div>


            <div class="jf-question jf-question-3a">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.simcheck_transition.questions.region_title }}</span>
                    </div>
                    <div class="jf-question-body sponsored container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class="jf-accordion">
                                    <div class="jf-accordion-steps">
                                        <div class="jf-accordion-step">
                                            <div class="jf-accordion-step-body">
                                                
                                                <fieldset>

                                                    <label for="region">{{ .Site.Data.simcheck_transition.questions.region_question }}</label>
                                                    <br>
                                                    <select id="region" class="" name="region">
                                                        {{ $currentNode := . }}
                                                        {{ range .Site.Data.boilerplate.regions.dropdown.region }}
                                                        <option value="{{ .value }}">{{ .value }}</option>
                                                        {{ end }}
                                                    </select>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-container container">
                    <div class="row">
                        <a href="#" class="next-section">Next</a>
                    </div>
                </div>
            </div>




            
        </div>
        <div class="section section-2 your-details" data-id="your-details">
            <div class="jf-question jf-question-4">
                
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                            <span class="title">{{ .Site.Data.simcheck_transition.questions.question_4_title }}</span>
                    </div>
                    <div class="jf-question-body sponsored container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class="jf-accordion">
                                    <div class="jf-accordion-steps">
                                        <div class="jf-accordion-step">
                                            <div class="jf-accordion-step-body jf-wide">
                                                <div class="jf-contacts-container">
                                                    
                                                    <div class="jf-contact jf-contact-2">
                                                        <label>
                                                            {{ .Site.Data.simcheck_transition.questions.question_4_contact_1_title }}
                                                        </label>
                                                        {{ if ( .Site.Data.simcheck_transition.questions.question_4_help_bubble_1 ) }}
                                                        <div>
                                                            <div class="info-para">
                                                                <p>{{ .Site.Data.simcheck_transition.questions.question_4_help_bubble_1 | markdownify}}</p>
                                                            </div>
                                                        </div>
                                                        {{ end }}
                                                        <div class="jf-contact-body">
                                                            <label for="same_as_business_contact"><input type="checkbox" id="same_as_business_contact" name="same_as_business_contact" value="same_as_business_contact" data-id="same_as_business_contact"/><span></span>{{ .Site.Data.simcheck_transition.questions.question_4_duplicate_it }}</label>
                                                            <fieldset data-target="same_as_business_contact">
                                                                <ul class="jf-contact-form-wrap">
                                                                    <li>
                                                                        <label for="30_editorial_contact_first_name">{{ .Site.Data.simcheck_transition.questions.question_4_first_name }}</label>
                                                                        <br>
                                                                        <input type="text" name="30_editorial_contact_first_name" id="contact_4_first_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="30_editorial_contact_last_name">{{ .Site.Data.simcheck_transition.questions.question_4_last_name }}</label>
                                                                        <br>
                                                                        <input type="text" name="30_editorial_contact_last_name" id="contact_4_last_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="30_editorial_contact_email">{{ .Site.Data.simcheck_transition.questions.question_4_email_address }}</label>
                                                                        <br>
                                                                        <input type="email" name="30_editorial_contact_email" id="contact_4_email" class="">
                                                                        <br>
                                                                    </li>
                                                                </ul>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                    <div class="jf-contact jf-contact-3">
                                                        <label>
                                                            {{ .Site.Data.simcheck_transition.questions.question_4_contact_2_title }}
                                                        </label>
                                                        {{ if ( .Site.Data.simcheck_transition.questions.question_4_help_bubble_2 ) }}
                                                        <div>
                                                            <div class="info-para">
                                                                <p>{{ .Site.Data.simcheck_transition.questions.question_4_help_bubble_2 | markdownify}}</p>
                                                            </div>
                                                        </div>
                                                        {{ end }}
                                                        <div class="jf-contact-body">
                                                            <label for="same_as_business_contact2"><input type="checkbox" id="same_as_business_contact2" name="same_as_business_contact2" value="same_as_business_contact2" data-id="same_as_business_contact2"/><span></span>{{ .Site.Data.simcheck_transition.questions.question_4_2_duplicate_it }}</label>
                                                            <fieldset data-target="same_as_business_contact2">
                                                                <ul class="jf-contact-form-wrap">
                                                                    <li>
                                                                        <label for="28_technical_contact_first_name">{{ .Site.Data.simcheck_transition.questions.question_4_2_first_name }}</label>
                                                                        <br>
                                                                        <input type="text" name="28_technical_contact_first_name" id="contact_4_2_first_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="28_technical_contact_last_name">{{ .Site.Data.simcheck_transition.questions.question_4_2_last_name }}</label>
                                                                        <br>
                                                                        <input type="text" name="28_technical_contact_last_name" id="contact_4_2_last_name">
                                                                        <br>
                                                                    </li>
                                                                    <li>
                                                                        <label for="28_technical_contact_email">{{ .Site.Data.simcheck_transition.questions.question_4_2_email_address }}</label>
                                                                        <br>
                                                                        <input type="email" name="28_technical_contact_email" id="contact_4_2_email" class="">
                                                                        <br>
                                                                    </li>
                                                                </ul>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-container container">
                    <div class="row">
                        <a href="#" class="prev-section">Back</a>
                        <a href="#" class="next-section ns-final-btn">Next</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-3 your-membership" data-id="your-membership">
            <div class="jf-question jf-question-5b">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.simcheck_transition.questions.question_5_title }}</span>
                    </div>
                    <div class="jf-question-body sponsored container">
                        <div class="row">
                            <div class="col-md-9 no-margin">
                                <div class="jf-accordion">
                                    <div class="jf-accordion-steps">
                                        <div class="jf-accordion-step">
                                            <div class="jf-accordion-step-body">
                                                
                                                <fieldset id='orgselecta'>
                                                    <label>{{ .Site.Data.simcheck_transition.questions.question_5_org_sponsored }}</label>
                                                    {{ if ( .Site.Data.simcheck_transition.questions.question_6_help_bubble ) }}
                                                    <div>
                                                        <div class="info-para">
                                                            <p>{{ .Site.Data.simcheck_transition.questions.question_6_help_bubble | markdownify}}</p>
                                                        </div>
                                                    </div>
                                                    {{ end }}

                                                    <select id="organisation_org" name="42_sponsoring_org">
                                                        <option selected value="{{ .Site.Data.boilerplate.sponsoring_org.negative_answer_value }}">{{ .Site.Data.boilerplate.sponsoring_org.negative_answer_title }}</option>
                                                        {{ $currentNode := . }}
                                                        {{ $prefix := .Site.Data.boilerplate.sponsoring_org.simcheck_yes_prefix_value }}
                                                        {{ range .Site.Data.boilerplate.sponsoring_org.dropdown.org }}
                                                        <option value="{{ .value }}">{{ $prefix }}{{ .title }}</option>
                                                        {{ end }}
                                                    </select>
                                                </fieldset>
                                                    
                                                   
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="btn-container container">
                        <div class="row">
                            <a class="next-question next-question-nq">Next</a>
                        </div>
                    </div>
                </div>
            </div>  
        


            <div class="jf-question jf-question-7">
                <div class="jf-question-wrap">
                    <div class="jf-question-header">
                        <span class="title">{{ .Site.Data.simcheck_transition.questions.question_7_title }}</span>
                    </div>
                    <div class="jf-question-body sponsored container">
                        <div class="row">
                            <div class="col-md-9 no-margin">                                
                                <fieldset>
                                    <label for="prefixes">{{ .Site.Data.simcheck_transition.questions.question_7_question }}</label>
                                    {{ if ( .Site.Data.simcheck_transition.questions.question_7_help_bubble ) }}
                                    <div>
                                        <div class="info-para">
                                            <p>{{ .Site.Data.simcheck_transition.questions.question_7_help_bubble | markdownify}}</p>
                                        </div>
                                    </div>
                                    {{ end }}

                                    <div class='the-terms'>{{ .Site.Data.boilerplate.memberterms_simcheck.content | markdownify }}</div>
                                    <fieldset>
                                        <label class="jf-label left-pad-label" for="agreement-modal"> <input type="checkbox" class="agreement-modal" name="agreement-modal" id="agreement-modal"><strong>{{ .Site.Data.simcheck_transition.questions.question_7_terms_checkbox }}</strong></label>
                                        <br>
                                    </fieldset>                                   
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="btn-container container">
                        <div class="row">
                            <a href="#" class="prev-section">Back</a>
                            <button class="jf-sumbit-form disabled" type="button" name="Submit">Submit my application</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="member_id_from_url" id="member_id_from_url" value="not passed" />
        <input type="hidden" name="intacct_id" id="intacct_id" value="not passed" />
        <input id="hidden_next" type="hidden" name="_next" value="{{ .Site.BaseURL }}/membership/simcheck-transition-thank-you/"
            data-target_alt="{{ .Site.BaseURL }}/membership/simcheck-new-thank-you/"/>
        <input type="hidden" id="email_subject" name="_subject" value="{{ .Site.Data.simcheck_transition.questions.zendesk_mail_subject }}" data-value_alt="{{ .Site.Data.simcheck_transition.questions.zendesk_mail_subject_new }}" />
        <input type="text" name="_replyto" id="special-replyto" value="">
        <input type="hidden" name="_message" id='message' value="{{ .Site.Data.simcheck_transition.questions.message }}" data-message_alt="{{ .Site.Data.simcheck_transition.questions.message_new }}"/>
    </form>


    
</div>


{{ partial "footer.html" . }}