    <footer class="very-bottom-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
          	{{.Site.Data.boilerplate.footer.attribution_link | markdownify}}
          </div>
          <div class="col-md-1">
         	 <a href='{{ .Site.BaseURL }}/operations-and-sustainability/privacy'>Privacy</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://status.crossref.org/embed/script.js"></script>
    <script src="https://kit.fontawesome.com/7e709bc1c7.js" crossorigin="anonymous"></script>