{{ partial "header.html" . }}
{{ partial "page-banner-wide.html" . }}

<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>

<div class="container">
    <div class="row">            
        <div class="col-md-11 col-md-offset-1">
            {{ partial "languages" . }} {{ partial "breadcrumbs" . }}
        </div>
    </div>

    <div class="row">            
        <div class="col-md-11 col-md-offset-1">
            <input id="search-page-input" placeholder="Search entire site">
        </div>
    </div>

    <div class="row">
        <div class="filters col-md-3 col-md-offset-1">
            <h4>Refine results</h4>
            <div id="date-refinement"></div>
            <div id="section-refinement"></div>
            <div id="clear-all"></div>
        </div>
        <div class="col-md-7">
            <div id="stats-container"></div>
            <div id="hits"></div>
        </div>
    </div>
</div>

<script>

    var today = Date.now() / 1000 | 0;
    var search = instantsearch({
        // Replace with your own values
        appId: '{{ if isset .Site.Params "algolia_apikey" }}{{ .Site.Params.algolia_apikey }}{{ else }}QSQNJS2NQU{{ end }}',
        apiKey: '{{ if isset .Site.Params "algolia_apisecret" }}{{ .Site.Params.algolia_apisecret }}{{ else }}7d7dfcf22bf2af9070353d9f5a7c89c0{{ end }}',
        indexName: '{{ if isset .Site.Params "algolia_index" }}{{ .Site.Params.algolia_index }}{{ else }}webdev{{ end }}',
        routing: true
    });

    search.templatesConfig.compileOptions.delimiters = '[[ ]]';
    Mustache.tags=["[[", "]]"];

    search.addWidget(
        instantsearch.widgets.searchBox({
            container: '#search-page-input',
            magnifier:false,
            reset:false
        })
    );

    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#section-refinement',
        attributeName: 'section',
        limit: 99,
        templates: {
          searchableReset: '',
          searchableSubmit: 'submit',
          header: 'Section',
          item: "<div class='ais-refinement-list--item'><div><label class='ais-refinement-list--label'><input type='checkbox' class='ais-refinement-list--checkbox' [[#isRefined]]checked[[/isRefined]] value='[[value]]'>[[value]]<span class='ais-refinement-list--count'>[[count]]</span></label></div></div>"
        }
      })
    );

    search.addWidget(
      instantsearch.widgets.clearAll({
        container: '#clear-all',
        templates: {
          link: 'Reset everything'
        },
        autoHideContainer: false
      })
    );

    var today = new Date();

    var six_months_ago = new Date();
    six_months_ago.setDate(six_months_ago.getDate() - 182);
    six_months_ago_ts = parseInt(six_months_ago.getTime()/1000);

    var one_year_ago = new Date();
    one_year_ago.setDate(one_year_ago.getDate() - 365);
    one_year_ago_ts = parseInt(one_year_ago.getTime()/1000);

    var two_years_ago = new Date();
    two_years_ago.setDate(two_years_ago.getDate() - 730);
    two_years_ago_ts = parseInt(two_years_ago.getTime()/1000);


    var doiPattern = /10\./;

    function checkPattern(input) {
      if (doiPattern.test(input)) {
        return true;
      } else {
        return false;
      }
    }

    //console.log(six_months_ago_ts);
    //console.log(one_year_ago);
    //console.log(two_years_ago);

    search.addWidget(
      instantsearch.widgets.numericRefinementList({
      container: '#date-refinement',
      attributeName: 'lastmod_ts',
      options: [
        {name: 'All'},
        {start: six_months_ago_ts, name: 'Last 6 months'},
        {start: one_year_ago_ts, name: 'Last Year'},
        {start: two_years_ago_ts, name: 'Last 2 Years'}
      ],
      templates: {
        header: 'Date Range'
      }
      })
    );

    search.addWidget(
      instantsearch.widgets.stats({
        container: '#stats-container',
        templates: {
          body: function(data) {

            var context = {
                input: document.getElementById("search-page-input").value,
                nbHits: data.nbHits,
                time: data.processingTimeMS,
            };

            if (checkPattern(context.input)) {
                return Mustache.render("<div class='aa-footer aa-meta-link'>It looks like you are searching for a specific DOI, do you want to <a target='_blank' href='https://search.crossref.org/?from_ui=yes&q=[[input]]'>try this as a Metadata Search?</a></div> <div>[[nbHits]] results found in [[time]] ms </div>", context);
            } else {
              return Mustache.render("<div>[[nbHits]] results found in [[time]] ms </div>", context);
            }
          }
        }
      })
    );

    search.addWidget(
        instantsearch.widgets.infiniteHits({
            container: '#hits',
            templates: {
                item: function(suggestion) {
                  sectionValue = suggestion._highlightResult.section.value.replace(/\-/g, " ");
                  titleValue = suggestion._highlightResult.title.value;
                  position = -1;
                  thecontent = suggestion._snippetResult.content;

                  if (thecontent)  {
                                   
                    content = thecontent.value;                    

                  } else {

                    content = "Category Listing";
                    sectionValue = "Blog";

                  }

                var context = {
                    url: suggestion.url,
                    titleValue: titleValue,
                    sectionValue: sectionValue,
                    content: content
                };

                return Mustache.render("<h3><a href='[[url]]'><span class='title'>[[&titleValue]]</span></a> - <span class='section'>[[&sectionValue]]</span></h3><p>[[&content]]</p>", context);

                },                
                empty: function() {
                  var context = {
                    input: document.getElementById("search-page-input").value
                  };

                  if (checkPattern(context.input)){
                      return Mustache.render("<div class='aa-footer aa-meta-link'>It looks like you are searching for a specific DOI, do you want to <a target='_blank' href='https://search.crossref.org/?from_ui=yes&q=[[input]]'>try this as a Metadata Search?</a></div>", context);
                  }

                  return Mustache.render("We didn't find any results for the search <em>[[input]]</em>", context);
                }
            }
        })
    );

    search.start();

</script>
{{ partial "footer.html" . }}
