<div class="our-speakers-single">

    <div class="col-md-3">
        <img src="{{ .image }}"/>
    </div>
    <div class="col-md-9">
        <h2 class="fullname">{{ string (.fullname) }}</h2>
        <div class="job-title">
            {{ string (.title) }}
        </div>

        <div class="main-body-content">
            <h3>Biography</h3>
            <p>{{ string (.bio) | markdownify}}</p>

            {{ if .topics }}
            <h3>Topics</h3>
            <ul class="topics">
                {{ range $key, $value := (.topics) }}
                <li class="topic">{{ $value }}</li>
                {{ end }}
            </ul>
            {{ end }}

            {{ if .twitter }}
            <h3>X</h3>
            <a target="_blank" href="https://twitter.com/{{ string (.twitter) }}">{{ string (.twitter) }}</a>
            {{ end }}
            
            {{ if .mastodon }}
                <h3>Mastodon</h3>
                {{ $handle := .mastodon }}
                {{ $parts := split $handle "@" }}
                {{ if eq (len $parts) 3 }}
                    {{ $username := index $parts 1 }}
                    {{ $instance := index $parts 2 }}
                    <a target="_blank" href="https://{{ $instance }}/@{{ $username }}">{{ $handle }}</a>
                {{ end }}
            {{ end }}

            {{ if .orcid }}
            <h3>ORCID iD</h3>
            <a target="_blank" href="https://orcid.org/{{ string (.orcid) }}">{{ string (.orcid) }}</a>
            {{ end }}
        </div>
    </div>
</div>