    <!-- Meta tags -->
    <meta charset="utf-8" />
    <meta name="language" content="English" />
    <meta http-equiv="content-language" content="en" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{ hugo.Generator }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{if .Params.Description}}{{.Params.Description}}{{else if .Summary}}{{.Summary}}{{else}}{{.Site.Params.Description }}{{end}}" />
    <meta name="author" content="{{if .GitInfo }}{{.GitInfo.AuthorName}}{{else if .Params.author}}{{.Params.author}}{{else}}{{.Site.Params.author}}{{end}}" />
    <meta name="gitlastmod" content="{{if .GitInfo }}{{.Lastmod}}{{else}}nogitlastmod{{end}}" />
    <meta name="hugolastmod" content="{{ .Lastmod }}" />
    <meta name="copyright" content="Crossref - {{ now.Format "2006" }}" />
    <meta name="twitter:label1" value="Reading time">
    <meta name="twitter:data1" value="{{ .ReadingTime }} minute read 🕑">

    <!-- DublinCore -->
    <meta property="dc:language" content="en" />   
    <meta property="dc:format" content="text/html" />    
    <meta property="dc:rights" content="CC BY 4.0" />
    <meta property="dc:source" content="{{ .Site.Title }}" />
    <meta property="dc:type" content="website" />
    <meta property="dc:title" content="{{ .Title }}" />
    {{ if .Params.doi }}<meta property="dc:identifier" content="{{ $.Param "doi" }}" / >{{ end }}
