{{ $data := getJSON ( printf "http://api.crossref.org/works?filter=full-text.application:text-mining&facet=publisher-name:*%s" .Site.Params.apiUser)  }}

{{ $publishernames := index $data.message.facets "publisher-name" }}

<table id="" class="member-list">
	<thead>
		<tr>
			<th>Member Name</th><th>DOI count</th>
		</tr>
	</thead>
	<tbody>

	{{ range $key, $value := $publishernames.values }}
	<tr>
		<td>
			{{ $key }}
		</td>
		<td style='text-align:right;'>
			{{ lang.NumFmt 0 $value "- ." }}
		</td>
	</tr>
	{{ end }}		
	
	</tbody>

</table>
