{{ partial "header.html" . }}

{{ partial "page-banner-blog.html" . }}  

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                {{ partial "breadcrumbs" . }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1 content-column">
                {{ range .Paginator.Pages }}
                {{ .Render "archive_single" }}
                {{ end }}
            </div>
            <div class="col-md-2">
                {{ partial "blog/sidebar" . }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1 content-column">
                {{ partial "pagination" . }}
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}
