{{ partial "header.html" . }}
{{ partial "page-banner-wide.html" . }}        

<script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>

    <!-- Main Content -->
    <div class="container">
		<div class="row">
    		<div class="col-md-10 col-md-offset-1">
				{{ partial "breadcrumbs" . }}
    		</div>
    	</div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              {{ .Content }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{ $fields := getJSON "/data/team/biographies.json" }}

                {{ range sort $fields "fullname" }}
                    {{ if and ( ne .fullname "No Bio Found" ) ( .staff )}}
                        {{ partial "staff/block.html" . }}
                    {{ end }}
                {{ end }}
            </div>
        </div>

        {{ $contractors := slice }}
        {{ range sort $fields "fullname" }}
            {{ if and ( ne .fullname "No Bio Found" ) ( .contractor )}}
                {{ $contractors = $contractors | append .fullname }}
            {{ end }}
        {{ end }}
        
        {{ $numberOfUniqueContractors := $contractors | uniq | len }}
        {{ if gt $numberOfUniqueContractors 0 }}
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {{ .Site.Data.boilerplate.people_page.contractors | markdownify }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {{ $fields := getJSON "/data/team/biographies.json" }}

                    {{ range sort $fields "fullname" }}
                        {{ if and ( ne .fullname "No Bio Found" ) ( .contractor )}}
                            {{ partial "staff/block.html" . }}
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        {{ end }}

        {{ partial "infoline-wide" .}}
        
    </div>

{{ partial "footer.html" . }}

