<div id="discourse-comments"></div>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'https://community.crossref.org/',
                     discourseEmbedUrl: {{ .Permalink }} };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
