<div class='blogsearchouter'>
	<form class='blogsearch' action='/site-search/' method='get'>
		<input type='hidden' name='refinementList[section][0]' id='refinementList[section][0]' value='Blog'/>
		<input placeholder='Search the blog' type='text' name='query' id='howcanwehelpsidebar'>
	</form>
</div>